UnityClient/3DPoseEstimation/Assets/Rhett[[:space:]]Cosmo[[:space:]]-[[:space:]]EverydayStyle/** filter=lfs diff=lfs merge=lfs -text
UnityClient/3DPoseEstimation/Library/Artifacts/** filter=lfs diff=lfs merge=lfs -text
UnityClient/3DPoseEstimation/.vs/3DPoseEstimation/v15/Server/sqlite3/** filter=lfs diff=lfs merge=lfs -text
